.main {
  padding-top: 5rem;
  font-family: var(--font-calibri);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.lineone {
  font-size: 2rem;
  font-weight: 400;
  color: rgb(17, 11, 86);
}

.linetwo {
  font-size: 3.5rem;
  font-weight: 600;
  color: rgb(29, 16, 172);
}

.linethree {
  font-size: 1.5rem;
}
