.main {
  font-size: 1.3rem;
  font-family: var(--font-mono);
  display: flex;
  justify-content: space-between;
}

.background {
  overflow-x: scroll;
  margin: auto;
  max-width: 80rem;
  min-height: 100vh;
  min-height: 100svh;
  padding: 1rem;
}

.link * {
  padding-left: 1rem;
}

.topbar {
  position: fixed;
  top: 0;
  left: 0;
  height: 1rem;
  width: 100%;
  background-color: white;
}

.bottombar {
  position: fixed;
  bottom: 0;
  left: 0;
  height: 1rem;
  width: 100%;
  background-color: white;
}

@media screen and (max-width: 500px) {
  .topbar {
    display: none;
  }
  .bottombar {
    display: none;
  }
}
