.main {
  font-size: 1.3rem;
  font-family: var(--font-mono);
  display: flex;
  justify-content: space-between;
}

.background {
  height: 98vh;
  padding: 1rem;
  background-color: #dfe7fd;
}

.link * {
  padding-left: 0.75rem;
}
