.resume {
  overflow-x: scroll;
  overflow-y: hidden;
  border-radius: 1rem;
  line-height: 1.5;
  margin: 1rem;
  margin-top: 2rem;
  background-color: white;
  padding: 1rem;
}

.indent {
  padding-left: 1rem;
}

.indenttwo {
  padding-left: 2rem;
}

@media screen and (max-width: 500px) {
  .resume > div {
    padding-left: 0;
  }
}

.name {
  margin-right: 0.5rem;
  overflow: hidden;
  width: 0;
  border-right: 0.5em solid transparent;
  font-size: 1.6rem;
  white-space: nowrap;
  animation: typing 1s steps(20, end) forwards, blink 0.8s;
  animation-delay: 1s, 0s;
  animation-iteration-count: 1, 3;
}

.name h1 {
  padding-right: 0.5rem;
}

.body {
  overflow-y: hidden;
  max-height: 0;
  animation: vert 1.5s steps(20, end) forwards;
  animation-delay: 2.6s;
}
@keyframes vert {
  from {
    max-height: 0;
  }
  to {
    max-height: 150rem;
  }
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 13.5rem;
  }
}

@keyframes blink {
  from {
    border-color: transparent;
  }
  to {
    border-color: black;
  }
}

@media screen and (max-width: 400px) {
  .indent {
    padding-left: 0;
  }
  .resume {
    margin-left: 0;
    margin-right: 0;
  }
}
